.app-stores {
    display: flex;
    gap: 1rem;
}
.apple-store {
    width: 168px;
    height: 50px;
}
.play-store {
    width: 168px;
    height: 50px;
}
@media (max-width: 400px) {
    .app-stores {
        flex-direction: column;
        align-items: center;
    }/*
    .app-store-image {
        width: 120px !important;
        height: 36px !important;
    }*/
}