.featured-talents{
  background: #eaf5ff;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.talent-name{
  color: black;
}

.featured-talents .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.featured-talents .header h2 {
  /*font-size: 2rem;
  font-weight: 700;*/
  font-size: 2.5rem;
  font-weight: 800;
  color: #333;
}

.featured-talents .header p {
  color: #666;
  font-size: 0.95rem;
  max-width: 400px;
  margin-top: 10px;
}

.scrollTalents {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  padding-bottom: 1rem;
  /*box-shadow: inset -100px 0 100px -50px black;*/
}

.talent-card {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  overflow: hidden;
  width: 220px;
  min-width: 220px;
  flex-shrink: 0;
}

.talent-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.talent-info {
  padding: 1rem;
}


.talent-tags p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
  color: #444;
}


.all-social-logos {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 0.5rem 0;
}

.social-platform {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-logo {
  max-height: 20px;
  max-width: 20px;
  height: auto;
  width: auto;
  object-fit: contain;
}

.tag-icon {
  max-height: 20px;
  max-width: 20px;
  height: auto;
  width: auto;
  object-fit: contain;
  margin-right: 8px;
}

.follower-count {
  font-size: 0.85rem;
  color: #666;
  margin: 0;
}

.tags {
  display: flex;
  flex-direction: column;
  gap: .8rem;
  align-items: flex-start;
}

.tags span {
  font-size: 0.8rem;
  color: #555;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
}

.cta-card {
  background: #009ee3;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  overflow: hidden;
  width: 220px;
  min-width: 220px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.2s ease;
  padding: 2rem 1rem;
  color: white;
  text-align: center;
}

.cta-card:hover {
  background: #0074c2;
}

.cta-card img {
  max-width: 240px;
  max-height: 160px;
  margin-bottom: 0;
}

.cta-card h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}


@media (max-width: 768px) {
  .featured-talents .header h2 {
    font-size: 2rem;
    font-weight: 700;
  }
}

@media (max-width: 600px) {
  .featured-talents .header h2 {
    font-size: 1.8rem;
    font-weight: 600;
  }
}

@media (max-width: 430px) {
  .featured-talents .header h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}